<html>

<head>
<script src='../index.js'> </script>
</head>
<h1> Sign up form </h1>

<form>
    <input type="text" name="username" id="username">
    <input type="password" name="password" id="password">
    <input type="email" name="email" id="email">
    <button id="btn">Submit</button>
</form>

<form>
    <h1>Login</h1>
    <input type="text" id="user">
    <input type="password" id="pass">
    
    <button id="butn">Submit</button>
</form>
<div id="errormsg" class="warning"></div>


<h1>This is home page</h1>